<template>
  <div class="main">
    <b-navbar fixed-top="true" >
      <template slot="brand">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          <span id="first-part" class="logo-name"> COLLINS</span>
          <span id="second-part" class="logo-name"> KETER</span>
<!--          <img-->
<!--            src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
<!--            alt="Lightweight UI components for Vue.js based on Bulma"-->
<!--          >-->
        </b-navbar-item>
      </template>
      <!--<template slot="end">-->
        <!--<b-navbar-item class="navbar-item" href="#">-->
          <!--Home-->
        <!--</b-navbar-item>-->
        <!--<b-navbar-item class="navbar-item" href="#">-->
          <!--Documentation-->
        <!--</b-navbar-item>-->
        <!--<b-navbar-dropdown class="navbar-item" hoverable="true"  label="Info">-->
          <!--<b-navbar-item class="navbar-item" href="#">-->
            <!--About-->
          <!--</b-navbar-item>-->
          <!--<b-navbar-item class="navbar-item" href="#">-->
            <!--Contact-->
          <!--</b-navbar-item>-->
        <!--</b-navbar-dropdown>-->
      <!--</template>-->
    </b-navbar>
  </div>
  </template>


<script>
    export default {
        name: "nav"
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
  .main {
    text-decoration: none;
  }
  .logo-name {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.04em;
  }
  .logo-name:hover {
    animation: pulsate-bck 0.7s ease-in-out infinite both;  }

  #first-part {
    color: #9e9e9e;

  }
  #second-part {
    color: #d31c48;

  }


  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }



</style>
