<template>
  <div class="main">
  <navigation></navigation>
  <index></index>
    <portfolio></portfolio>
    <contact></contact>
  </div>
</template>

<script>

  import navigation from '~/components/nav'
  import index from '~/pages/index'
  import portfolio from '~/pages/portfolio'
  import contact from '~/pages/contact'


  export default {
  components: {navigation,portfolio,contact,
  index},
  data () {
    return {
    }
  }
}
</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Caveat|Nanum+Myeongjo|Tajawal&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  * {
    /*font-family: 'Caveat', cursive;*/
    /*font-family: 'Nanum Myeongjo', serif;*/
    font-family: 'Tajawal', sans-serif;
  }
  .main {
    /*background-color:  rgba(211,28,72,0.04);*/

  }
</style>
