<template>
    <div class="main">
      <el-row class="row" :gutter="30">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <h1 class="header"> Give me a shout! 🗣️</h1>

          <div class="card-base contact-card  card-shadow--medium">
            <el-steps :active="active" finish-status="success" align-center>
              <el-step title="Step 1" description="Your name?"></el-step>
              <el-step title="Step 2" description="What's on your mind?"></el-step>
              <el-step title="Step 3" description="How can I reach you?"></el-step>
            </el-steps>
            <div v-if="active==0" class="step-one">
            <h1 class="contact-message">Hi there! Collins here, what's your name?</h1>
              <el-row>
              <el-input class="input-form" size="large" v-model="form.fullname" placeholder="Your name..."></el-input>
              </el-row>
              <el-row>
              <el-button type="success" v-on:click="next()" @click="splitName(form.fullname)">Next</el-button>
              </el-row>
            </div>
            <div v-if="active==1" class="step-two">
              <h1 class="contact-message">Hey <strong>{{firstname}}</strong>, nice to meet you.<br> What's on your mind?</h1>
              <el-row>
                <el-input class="input-form" autosize type="textarea" v-model="form.message" placeholder="Your message..."></el-input>
              </el-row>
              <el-row>
                <el-button type="danger" @click="previous()">Back</el-button>
                <el-button type="success" v-on:click="next()">Next</el-button>
              </el-row>
            </div>
            <div v-if="active==2" class="step-three">
              <h1 class="contact-message">Awesome <strong>{{firstname}}</strong>! I'll get back to you asap.
                <br> How can I reach you?</h1>
              <el-row>
                <el-input class="input-form" type="email" v-model="form.email" placeholder="Your email"></el-input>
              </el-row>
              <el-row>
                <el-button type="danger" @click="previous()">Back</el-button>
                <el-button type="warning" v-on:click="onSubmit()">SEND</el-button>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
</template>

<script>
    import axios from "../plugins/axios";

    export default {
        name: "contact",
      data() {
          return {
            firstname:'',
            active: 0,
            auth: {
              username: 'cketer_website',
              password: 'cketer_website',
              token:''
            },
            form: {
              fullname: '',
              mobile_no: '',
              email:'',
              message:''
            }
          }
      },
      methods: {
        onSubmit() {
          let url = 'https://www.collinsketer.com:3001/';
          this.axios.post(url + 'auth/login', this.auth, {headers: {'Content-Type': 'application/json'}})
            .then((response) => {
              if (response.status == 200) {
                this.auth.token = response.data.token;
                this.axios.post(url + 'api/email', this.form, {
                  headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + this.auth.token
                  }
                }).then((response) => {
                  if (response.status == 200) {
                    this.$notify({
                      title: 'Sent',
                      message: response.data.message,
                      type: 'success'
                    });
                    this.next();

                  } else {
                    this.$notify({
                      title: 'Error',
                      message: "Please try again Later",
                      type: 'success'
                    });
                    this.next();

                  }
                });
              }
            });
        },
        splitName(name) {
          let values = name.split(' ');
          this.firstname = values[0];
        },
        next() {
          if (this.active++ > 1) this.active = 0;
        },
        previous() {
          if (this.active-- < 1) this.active = 0;
        }
      }
    }
</script>

<style scoped>
  .main {
    /*height: 100vh;*/
    margin: 100px 15px 0px 15px;

    ;
  }
  .row {
    margin: 100px 50px 0px 50px;
  }
  .header {
  font-size: 5vh;
  text-align: center;
  }
  .contact-card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    padding: 20px 20px 20px 20px;
  }
  .contact-message {
    font-size: 1.2rem;
  }

  .input-form {
    width: 75%;
    margin: 15px 0 15px 0;
  }
.step-one .button {
  /*margin-left: 50%;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-content: center;*/
  /*justify-content: space-around;*/

  /*padding: 0 25% 0 25%;*/
}
  /*-------------------------------
CARD BASE
 ----------------------------------*/
  .card-base {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px 0px 30px 0px;
  }
  .card-shadow--medium {
    box-shadow: 0 8px 16px 0 rgba(40,40,90,.09),0 3px 6px 0 rgba(0,0,0,.065)
  }
</style>
