<template>
  <div class="home-main">
  <el-row>
    <el-col :xs="24" :sm="24":md="24" :lg="10" :xl="10">
      <div class="text">
          <h1 class="imagine">ideate</h1>
          <h1 class="design">innovate</h1>
          <h1 class="build">implement</h1>
      </div>
    </el-col>
    <el-col :xs="24" :sm="24":md="24" :lg="14" :xl="14">
      <div class="image">
        <img class="code_image" src="~/assets/responsive.png" alt="Web development image"/>
      </div>
    </el-col>
  </el-row>
    <!--<img class="fix" src="../assets/arrow.svg"/>-->
  </div>
</template>

<script>
    export default {
        name: "home",
        data() {
            return {
            }
        }
    }
</script>

<style scoped>
.home-main {
  /*height: 80vh;*/
  font-size: 10vh;
  height: 90vh;
  text-align: center;

}
.text {
  text-align: center;
  text-justify: auto;
  padding: auto;
  margin: 20% 10px 0 10px;


}

.fix{
  position:relative;
  /*bottom:10px;*/
  left:50%;
  height: 50px;
  animation: shake-vertical 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 4s infinite ;
}
.code_image {
  margin-top: 60px;
  animation: swing-in-right-fwd 1.7s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2s both;
}

.image {
  align-content: center;
  max-width: 100%;
}
.imagine{
  animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.design{
  animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;}
.build{
  animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;}



@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes swing-in-right-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}
</style>
