<template>
  <div class="main">
    <homepage></homepage>
  </div>
</template>

<script>
import Card from '~/components/Card'
import homepage from '~/pages/home'


export default {
  name: 'HomePage',

  components: {
    Card,
    homepage
  }
}
</script>
