<template>
    <div class="main">
      <h1 class="header">Portfolio</h1>
      <el-row class="row" :gutter="30">
        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
          <div class="card-base first-card  card-shadow--medium">
             <div class="logo-img">
               <img src="../assets/logo.png">
             </div>
            <a href="https://www.trolleyhut.com/" target="_blank">www.trolleyhut.com</a>
            <div class="website-img">
              <a href="https://www.trolleyhut.com/" target="_blank">
                <img src="../assets/trolleyhut-screenshot-multidevice-front.png">
              </a>
            </div>
              <el-button class="tags" type="danger">HTML</el-button>
              <el-button class="tags" type="success">CSS</el-button>
              <el-button class="tags" type="primary">VueJs</el-button>
          </div>
        </el-col>
        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
          <div class="second-card card-base card-shadow--medium">
            <div class="logo-img">
              <img src="../assets/wazinsure-logo-1.png">
            </div>
            <a href="https://www.wazinsure.com/" target="_blank">www.wazinsure.com</a>
            <div class="website-img">
              <a href="https://www.wazinsure.com/" target="_blank">
                 <img src="../assets/wazinsure-website-multidevice-front.png">
              </a>
            </div>
            <el-button class="tags" type="primary">Wordpress</el-button>
              <el-button class="tags" type="danger">HTML</el-button>
            <el-button class="tags" type="success">CSS</el-button>
          </div>
          <div class="space"></div>

        </el-col>
        <h2 class="header skills">Skills</h2>
        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
          <div class="third-card card-base card-shadow--medium" style="height: 338px">
            <h1>Languages</h1>
            <table>
              <thead>
                <th>Language</th>
                <th>Proficiency</th>
              </thead>
              <tbody>
              <tr>
                <td>HTML5</td>
                <td>
                  <el-progress :percentage="90" color="#66bb6a"></el-progress>
                </td>
              </tr>
              <tr>
                <td>CSS</td>
                <td>
                  <el-progress :percentage="80" color="#ab47bc"></el-progress>
                </td>
              </tr>
              <tr>
                <td>Javascript</td>
                <td>
                  <el-progress  :percentage="70" color="#ffca28"></el-progress>
                </td>
              </tr>
              <tr>
                <td>Java</td>
                <td>
                  <el-progress :percentage="60" color="#ec407a"></el-progress>
                </td>
              </tr>
              <tr>
                <td>C#</td>
                <td>
                  <el-progress :percentage="60" color="#ff7043"></el-progress>
                </td>
              </tr>
              <tr>
                <td>Python</td>
                <td>
                  <el-progress color="#26c6da" :percentage="50"></el-progress>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </el-col>
        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
          <div class="fourth-card card-base card-shadow--medium" style="height:338px">
            <h1>Skills</h1>
            <table>
              <thead>
              </thead>
              <tbody>
              <tr>
                <td>Design</td>
                <td>
                  <el-progress :percentage="80" color="#ef5350"></el-progress>
                </td>
              </tr>
              <tr>
                <td>UI/UX</td>
                <td>
                  <el-progress :percentage="80" color="#ab47bc"></el-progress>
                </td>
              </tr>
              <tr>
                <td>Responsive</td>
                <td>
                  <el-progress  :percentage="90" color="#9ccc65"></el-progress>
                </td>
              </tr>
              <tr>
                <td>SEO</td>
                <td>
                  <el-progress :percentage="60" color="#42a5f5"></el-progress>
                </td>
              </tr>
              <tr>
                <td width="45%">Coding</td>
                <td>
                  <el-progress :percentage="90" color="#ffca28"></el-progress>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
        </el-col>
      </el-row>

    </div>
</template>

<script>
    export default {
        name: "portfolio"
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
 .main {
   height: 100vh;
   margin: 100px 15px 0px 15px;
 }
  .row {
    margin-top: 50px;
  }
  .tag {
    /*margin-bottom: 15px;*/
  }
  /* -------------------------------------------
  FIRST CARD
  -----------------------------------------------*/

  .first-card a {
    text-decoration: none;
    color: rgb(211,28,72);
    font-family: 'Quicksand', sans-serif;

  }
 .first-card{
   background-color: rgba(211,28,72,0.05);
   text-align: center;
   align-content: center;
   font-size: 1.5rem;

 }
 .first-card:hover {
   background-color: rgba(211,28,72,0.2);
   color: #fff;
 }
  .first-card a:hover {
    color: #00acc1;
  }
  .first-card .logo-img img {
    margin-top: 20px;
    height: 100px;
    width: auto;
  }

  /* -------------------------------------------
SECOND CARD
-----------------------------------------------*/
  .second-card a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: rgb(0,139,0);
  }
  .second-card{
    background-color: rgba(0,139,0,0.05);
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
  }
  .second-card:hover {
    background-color: rgba(0,139,0,0.2);
    color: #00acc1;
  }
  .second-card a:hover {
    color: rgb(0,139,0);
  }

 .second-card .logo-img img {
   margin-top: 20px;
   height: 100px;
   /*width: 100px;*/
 }

  .website-img img:hover {
    animation: vibrate-1 2s linear forwards ;

  }
  .website-img img {
   /*animation: kenburns-top 7s ease-out infinite;*/
   margin-top: 20px;
   height: 60%;
   width: 80%;
 }
  /* -------------------------------------------
THIRD CARD
-----------------------------------------------*/
  .third-card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    padding: 20px 20px 20px 20px;
  }
  .third-card >h1 {
    /*font-weight: bold;*/
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .third-card table {
    font-size: 1.2rem;
    width: 100%;
  }

  /* -------------------------------------------
FOURTH CARD
-----------------------------------------------*/
  .fourth-card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    padding: 20px 20px 20px 20px;
  }
  .fourth-card >h1 {
    /*font-weight: bold;*/
    font-size: 2rem;
  }
  .fourth-card table {
    font-size: 1.2rem;
    width: 100%;
  }
  /* -------------------------------------------
table
-----------------------------------------------*/

table {
  resize: both;
  overflow: auto;
}
  tr {
    margin-bottom: 10px;
  }

  tr:nth-child(odd) {
    background-color: rgba(239, 239, 239,0.5);
  }


  .header {
    font-size: 6.5vh;
    text-align: center;

  }
  /*-------------------------------
  CARD BASE
   ----------------------------------*/
 .card-base {
   background-color: white;
   border-radius: 5px;
   overflow: hidden;
   margin: 30px 0px 30px 0px;
 }
 .card-shadow--medium {
   box-shadow: 0 0 0 0 rgba(40,40,90,0.09),0 3px 6px 0 rgba(0,0,0,0.09)
   /*box-shadow: 0 8px 16px 0 rgba(40,40,90,.09),0 3px 6px 0 rgba(0,0,0,.065)*/
 }
 .space {
   height: 100px;
 }
 /*-----------------------------------------------
 ANIMATIONS
  ------------------------------------------------*/
 @keyframes kenburns-top {
   0% {
     -webkit-transform: scale(1) translateY(0);
     transform: scale(1) translateY(0);
     -webkit-transform-origin: 50% 16%;
     transform-origin: 50% 16%;
   }
   100% {
     -webkit-transform: scale(1.25) translateY(-15px);
     transform: scale(1.25) translateY(-15px);
     -webkit-transform-origin: top;
     transform-origin: top;
   }
 }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }
</style>
